# Frontend Configuration Example
# Copy this file to .env and update the values
#dev server backend api URL
#VITE_API_BASE_URL=https://dev-fra.mroads.com
#local backend api URL
VITE_API_BASE_URL=http://127.0.0.1:9090
